<div class="mat-typography">
  <h3>{{ 'labels.heading.Identities' | translate }}</h3>

  <div fxLayout="row" fxLayoutAlign="flex-end" class="m-b-20">
    <button id="add-identifier-button" mat-raised-button color="primary" (click)="addIdentifier()">
      <fa-icon icon="plus" class="m-r-10"></fa-icon>{{ 'labels.buttons.Add' | translate }}
    </button>
  </div>

  <mat-accordion>
    <mat-expansion-panel *ngFor="let identifier of clientIdentifiers; index as i" class="identifier">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ identifier.documentKey }}
        </mat-panel-title>
      </mat-expansion-panel-header>

      <mat-divider></mat-divider>

      <div class="identifier-actions" fxLayout="row" fxLayoutAlign="flex-end">
        <button id="edit-identifier-button-{{ i }}" mat-button color="primary">
          <fa-icon icon="edit" (click)="editIdentifier(identifier, i)"></fa-icon>
        </button>
        <button
          id="delete-identifier-button-{{ i }}"
          mat-button
          color="warn"
          (click)="deleteIdentifier(identifier.documentKey, i)"
        >
          <fa-icon icon="trash"></fa-icon>
        </button>
      </div>

      <p>
        {{ 'labels.inputs.Document Key' | translate }} : {{ identifier.documentKey }}<br />
        {{ 'labels.inputs.Document Type' | translate }} :
        {{ identifier.documentTypeId | find: clientTemplate.documentTypeIdOptions : 'id' : 'name' }}<br />
        {{ 'labels.inputs.Status' | translate }} : {{ 'labels.catalogs.' + identifier.status | translate }}<br />
        {{ 'labels.inputs.Description' | translate }} : {{ identifier.description }}<br />
      </p>
    </mat-expansion-panel>
  </mat-accordion>
  <mat-error *ngIf="clientIdentifiers.length === 0" class="m-t-5">
    {{ 'labels.commons.identification' | translate }} {{ 'labels.commons.is' | translate }}
    <strong>{{ 'labels.commons.required' | translate }}</strong>
  </mat-error>
  <div fxLayout="row" class="margin-t" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="2%">
    <button id="previous-button" mat-raised-button matStepperPrevious>
      <fa-icon icon="arrow-left" class="m-r-10"></fa-icon>
      {{ 'labels.buttons.Previous' | translate }}
    </button>
    <button id="next-button" mat-raised-button matStepperNext [disabled]="clientIdentifiers.length === 0">
      {{ 'labels.buttons.Next' | translate }}
      <fa-icon icon="arrow-right" class="m-l-10"></fa-icon>
    </button>
  </div>
</div>
