<div class="container">
  <div fxLayout="row" fxLayoutAlign="space-between center" class="m-b-20">
    <h2 *ngIf="subCreditinfo" class="bc-title bc-title--section">
      {{ subCreditinfo.clientName }} <span> - {{ globalData.documentNumber }}</span>
    </h2>
    <h2 *ngIf="!subCreditinfo">Calendario de pagos</h2>
  </div>
  <div class="bc-table mat-elevation-z0">
    <table mat-table [dataSource]="dataSource" class="bc-table__table">
      <!-- # -->
      <ng-container matColumnDef="period">
        <th mat-header-cell *matHeaderCellDef>#</th>
        <td mat-cell *matCellDef="let row">
          {{ row.period }}
        </td>
      </ng-container>

      <!-- Días -->
      <ng-container matColumnDef="daysInPeriod">
        <th mat-header-cell *matHeaderCellDef>Días</th>
        <td mat-cell *matCellDef="let row">
          {{ row.daysInPeriod }}
        </td>
      </ng-container>

      <!-- Fecha -->
      <ng-container matColumnDef="dueDate">
        <th mat-header-cell *matHeaderCellDef>Fecha</th>
        <td mat-cell *matCellDef="let row">
          {{ row.dueDate ? (row.dueDate | dateFormat) : '-' }}
        </td>
      </ng-container>

      <!-- Fecha de pago -->
      <ng-container matColumnDef="obligationsMetOnDate">
        <th mat-header-cell *matHeaderCellDef>Fecha de pago</th>
        <td mat-cell *matCellDef="let row">
          {{ row.obligationsMetOnDate ? (row.obligationsMetOnDate | dateFormat) : '-' }}
        </td>
      </ng-container>

      <!-- Saldo del Crédito -->
      <ng-container matColumnDef="principalLoanBalanceOutstanding">
        <th mat-header-cell *matHeaderCellDef>Saldo del Crédito</th>
        <td mat-cell *matCellDef="let row">
          {{ row.principalLoanBalanceOutstanding | currency: currency : 'symbol-narrow' }}
        </td>
      </ng-container>

      <!-- Principal vencido -->
      <ng-container matColumnDef="principalDue">
        <th mat-header-cell *matHeaderCellDef>Principal vencido</th>
        <td mat-cell *matCellDef="let row">
          {{ row.principalDue | currency: currency : 'symbol-narrow' }}
        </td>
      </ng-container>

      <!-- Interés -->
      <ng-container matColumnDef="interestDue">
        <th mat-header-cell *matHeaderCellDef>Interés</th>
        <td mat-cell *matCellDef="let row">
          {{ row.interestDue | currency: currency : 'symbol-narrow' }}
        </td>
      </ng-container>

      <!-- Comisiones -->
      <ng-container matColumnDef="feeChargesDue">
        <th mat-header-cell *matHeaderCellDef>Comisiones</th>
        <td mat-cell *matCellDef="let row">
          {{ row.feeChargesDue | currency: currency : 'symbol-narrow' }}
        </td>
      </ng-container>

      <!-- Penalizaciones -->
      <ng-container matColumnDef="penaltyChargesDue">
        <th mat-header-cell *matHeaderCellDef>Penalizaciones</th>
        <td mat-cell *matCellDef="let row">
          {{ row.penaltyChargesDue | currency: currency : 'symbol-narrow' }}
        </td>
      </ng-container>

      <!-- Pendiente -->
      <ng-container matColumnDef="totalOutstandingForPeriod">
        <th mat-header-cell *matHeaderCellDef>Pendiente</th>
        <td mat-cell *matCellDef="let row">
          {{ row.totalOutstandingForPeriod | currency: currency : 'symbol-narrow' }}
        </td>
      </ng-container>

      <!-- Pagado -->
      <ng-container matColumnDef="totalPaidForPeriod">
        <th mat-header-cell *matHeaderCellDef>Pagado</th>
        <td mat-cell *matCellDef="let row">
          {{ row.totalPaidForPeriod | currency: currency : 'symbol-narrow' }}
        </td>
      </ng-container>

      <!-- Por adelantado -->
      <ng-container matColumnDef="totalPaidInAdvanceForPeriod">
        <th mat-header-cell *matHeaderCellDef>Por adelantado</th>
        <td mat-cell *matCellDef="let row">
          {{ row.totalPaidInAdvanceForPeriod | currency: currency : 'symbol-narrow' }}
        </td>
      </ng-container>

      <!-- Tarde -->
      <ng-container matColumnDef="totalPaidLateForPeriod">
        <th mat-header-cell *matHeaderCellDef>Tarde</th>
        <td mat-cell *matCellDef="let row">
          {{ row.totalPaidLateForPeriod | currency: currency : 'symbol-narrow' }}
        </td>
      </ng-container>

      <!-- Pendiente (derecha) -->
      <ng-container matColumnDef="totalOverdue">
        <th mat-header-cell *matHeaderCellDef>Pendiente</th>
        <td mat-cell *matCellDef="let row">
          {{ row.totalOverdue | currency: currency : 'symbol-narrow' }}
        </td>
      </ng-container>

      <!-- Estado -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Estado</th>
        <td mat-cell *matCellDef="let row">
          {{ row.complete ? 'Asignada' : 'Pendiente' }}
        </td>
      </ng-container>

      <!-- Acciones -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Acciones</th>
        <td mat-cell *matCellDef="let row">
          <button
            *ngIf="row.complete"
            mat-raised-button
            color="primary"
            (click)="$event.stopPropagation()"
            class="littler"
            aria-label="Ver"
            [routerLink]="['orden-pago']"
            [state]="{
              paymentPeriodInfo: {
                row: row,
                subCreditInfo: {
                  accountNo: globalData.accountNo,
                  documentNumber: globalData.documentNumber
                }
              }
            }"
          >
            <mat-icon>visibility</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>
