table {
  width: 100%;

  .action-button {
    min-width: 26px;
    padding: 0 0 3px;
    margin: 0 2%;
    line-height: 25px;
  }
}

.text-primary {
  color: #2196f3; // amarillo tipo Material Design
}

.fullWidth {
  min-width: 100%;
}

.loadingBar {
  width: 100%;
  border-radius: 1rem;
  height: 11px;
  background-color: #cbd2db;
  overflow: hidden;
}

.loadingBar .bar {
  height: 100%;
  background-color: #2196f3;
}

h6 {
  font-size: 14px;
  color: #5cb85c;
  font-weight: 400;
  margin: unset;
}
