table {
  width: 100%;

  .action-button {
    min-width: 26px;
    padding: 0 0 3px;
    margin: 0 2%;
    line-height: 25px;
  }
}

.text-primary {
  color: #2196f3; // amarillo tipo Material Design
}

.fullWidth {
  min-width: 100%;
}

.loadingBar {
  width: 100%;
  border-radius: 1rem;
  height: 11px;
  background-color: #cbd2db;
  overflow: hidden;
}

.loadingBar .bar {
  height: 100%;
  background-color: #2196f3;
}

h6 {
  font-size: 14px;
  font-weight: 400;
  margin: unset;
}

.approved {
  color: #5cb85c;
}

.notApproved {
  color: #d9534f;
}

.empty-state {
  text-align: center;
  padding: 2rem;
  color: #666;
}

.empty-state fa-icon {
  display: block;
  margin: 0 auto 1rem;
  color: #999;
}

.empty-state button {
  margin-top: 1rem;
}

:host ::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: #2196f3;
}
