.tab-container {
  padding: 1%;
  margin: 1%;
}

.container form {
  gap: 1rem;
}

.container button.outlinedButton {
  background-color: transparent;
  color: #1074b9;
  border: 1px solid #1074b9;
  box-shadow: unset;
}

.empty-state {
  text-align: center;
  padding: 2rem;
  color: #666;
}

.empty-state fa-icon {
  display: block;
  margin: 0 auto 1rem;
  color: #999;
}

.empty-state button {
  margin-top: 1rem;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100%;
}

.important {
  margin-top: 2rem;
  font-weight: 500;
  font-size: 1rem;
  color: #1074b9;
}
