.add-family-member-container {
  width: 70%;
  margin: 0 auto;
  padding: 5%;

  @media screen and (width >=960px) {
    [fxFlex]:nth-child(odd) {
      margin-right: 25px;
    }

    [fxFlex]:last-child {
      margin-right: 0;
    }
  }
}

.adressContainer {
  display: block;
  width: 100%;
  height: 28px;
  overflow: hidden;
  box-sizing: border-box;
  transform: translateY(1rem);
}

#google-maps-place-picker {
  display: block;
  height: 30px;
  transform: scale(1.02) translateY(-2px);
}

.hiddenAddressInput {
  visibility: hidden;
  height: 10px;
  min-height: 10px;
  max-height: 15px;
}
