<div class="container">
  <form [formGroup]="projectParticipationForm" (ngSubmit)="submit()">
    <mat-card>
      <mat-card-content>
        <div fxLayout="column">
          <mat-form-field fxFlex="98%" class="inputSearch m-r-25 m-b-10">
            <mat-label>Filtrar por:</mat-label>
            <mat-select formControlName="filterBy">
              <mat-option *ngFor="let filterOption of filterOptions" [value]="filterOption">
                {{ filterOption }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field fxFlex="98%">
            <mat-label>{{ 'labels.inputs.Participant' | translate }}</mat-label>
            <input matInput formControlName="participantId" [matAutocomplete]="participantsAutocomplete" />
            <mat-error *ngIf="projectParticipationForm.controls.participantId.hasError('required')">
              {{ 'labels.inputs.aArticipant' | translate }} {{ 'labels.commons.is' | translate }}
              <strong>{{ 'labels.commons.required' | translate }}</strong>
            </mat-error>
          </mat-form-field>

          <mat-autocomplete
            autoActiveFirstOption
            #participantsAutocomplete="matAutocomplete"
            [displayWith]="displayParticipant"
          >
            <mat-option *ngFor="let client of participantsData" [value]="client">
              {{ client.displayName }} - {{ client.rut }}
            </mat-option>
          </mat-autocomplete>

          <mat-form-field fxFlex="98%">
            <mat-label>{{ 'labels.inputs.Project' | translate }}</mat-label>
            <input matInput formControlName="projectId" [matAutocomplete]="projectsAutocomplete" />
            <mat-error *ngIf="projectParticipationForm.controls.projectId.hasError('required')">
              {{ 'labels.inputs.aArticipant' | translate }} {{ 'labels.commons.is' | translate }}
              <strong>{{ 'labels.commons.required' | translate }}</strong>
            </mat-error>
          </mat-form-field>

          <mat-autocomplete
            autoActiveFirstOption
            #projectsAutocomplete="matAutocomplete"
            [displayWith]="displayProject"
          >
            <mat-option *ngFor="let project of projectsData" [value]="project">
              {{ project.id }} - {{ project.name }}
            </mat-option>
          </mat-autocomplete>

          <mifosx-input-amount
            [currency]="currency || ''"
            [isRequired]="true"
            [inputFormControl]="projectParticipationForm.controls.amount"
            [inputLabel]="'Amount'"
          >
          </mifosx-input-amount>

          <mat-form-field fxFlex="98%">
            <mat-label>{{ 'labels.inputs.Commission' | translate }}</mat-label>
            <input
              matInput
              [value]="projectParticipationForm.get('commission')?.value | currency: currency.code"
              readonly
              disabled
              style="text-align: right"
            />
            <mat-error *ngIf="projectParticipationForm.controls.commission.hasError('required')">
              {{ 'labels.inputs.Commission' | translate }} {{ 'labels.commons.is' | translate }}
              <strong>{{ 'labels.commons.required' | translate }}</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </mat-card-content>

      <mat-card-actions fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="5px">
        <button type="button" mat-raised-button [routerLink]="['../']">
          {{ 'labels.buttons.Cancel' | translate }}
        </button>
        <button mat-raised-button color="primary" [disabled]="!projectParticipationForm.valid || loading">
          {{ 'labels.buttons.Submit' | translate }}
        </button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
