<div class="container" style="margin-top: 16px">
  <form *ngIf="adicionalForm" [formGroup]="adicionalForm" fxLayout="column" fxLayoutGap="16px">
    <div fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="start center">
      <mat-form-field appearance="fill" fxFlex style="margin-top: 16px">
        <mat-label>{{ 'labels.inputs.Charge Type' | translate }}</mat-label>
        <mat-select formControlName="commissionTypeId" required (selectionChange)="isITESelected()">
          <mat-option *ngFor="let type of commissionToShow" [value]="type.id">
            {{ type.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill" fxFlex>
        <mat-label>{{ 'labels.inputs.Description' | translate }}</mat-label>
        <input matInput formControlName="description" required />
      </mat-form-field>

      <mifosx-input-amount
        [currency]="currency || ''"
        [isRequired]="true"
        [inputFormControl]="adicionalForm.controls.netAmount"
        [inputLabel]="'Base Price'"
      >
      </mifosx-input-amount>

      <!-- <mat-form-field appearance="fill" fxFlex>
        <mat-label>{{ 'labels.inputs.Base Price' | translate }}</mat-label>
        <input matInput type="number" formControlName="netAmount" required />
      </mat-form-field> -->

      <mat-form-field appearance="fill" fxFlex>
        <mat-label>{{ 'labels.inputs.Base Percentage' | translate }}</mat-label>
        <input matInput type="number" formControlName="vat" />
      </mat-form-field>

      <button
        mat-raised-button
        color="primary"
        (click)="calculateCommission()"
        [disabled]="!isITESelected() && adicionalForm.invalid"
      >
        {{ selectedCommission ? ('labels.buttons.Refresh' | translate) : ('labels.buttons.Add' | translate) }}
      </button>

      <button *ngIf="selectedCommission" mat-stroked-button color="warn" (click)="cancelEdit()">
        {{ 'labels.buttons.Cancel' | translate }}
      </button>
    </div>
  </form>

  <!--  modal de edición de crédito -->
  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px" style="margin-top: 16px">
    <button
      mat-stroked-button
      color="accent"
      *mifosxHasPermission="'UPDATE_ADDITIONAL_EXPENSES'"
      (click)="openFormEdit()"
    >
      {{ 'labels.inputs.Credit Adjustments' | translate }}
    </button>

    <button mat-stroked-button color="accent" (click)="goToModifyApplication()">
      {{ 'labels.menus.Modify Application' | translate }}
    </button>
  </div>

  <div fxLayout="column" style="margin-top: 24px">
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="32px">
      <div>
        <strong>{{ 'labels.inputs.Amount to be Financed' | translate }}:</strong> ${{
          getMontoAFinanciar() | currency: currency
        }}
      </div>
      <div>
        <strong>{{ 'labels.inputs.Amount to be Delivered' | translate }}:</strong> ${{
          getMontoAEntregar() | currency: currency
        }}
      </div>
      <div><strong>CAE:</strong> {{ getCaeValue() }}%</div>
      <div>
        <strong>{{ 'labels.inputs.Credit' | translate }}:</strong> {{ loanTemplate?.loanProductName }}
      </div>
    </div>
    <br />
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="32px">
      <div>
        <strong>{{ 'labels.inputs.Amount Requested' | translate }}:</strong> ${{
          projectData?.amount | currency: currency
        }}
      </div>
      <div>
        <strong>{{ 'labels.inputs.Loan Term' | translate }}:</strong>
        {{ projectData?.period }}
      </div>
      <div>
        <strong>{{ 'labels.inputs.Interest Rate' | translate }}:</strong> {{ projectData?.rate }}%
      </div>
      <div>
        <strong>{{ 'labels.inputs.Investor Interest' | translate }}:</strong> ${{
          investorInterests | currency: currency
        }}
      </div>
      <div>
        <strong>{{ 'labels.inputs.Total Credit' | translate }}:</strong> ${{ totalCredit | currency: currency }}
      </div>
    </div>
  </div>

  <!-- Tabla de comisiones -->
  <table mat-table [dataSource]="comisiones" class="mat-elevation-z8" style="margin-top: 16px">
    <ng-container matColumnDef="commissionType">
      <th mat-header-cell *matHeaderCellDef>{{ 'labels.inputs.Charge Type' | translate }}</th>
      <td mat-cell *matCellDef="let element">{{ element.commissionType?.name }}</td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef>{{ 'labels.inputs.Description' | translate }}</th>
      <td mat-cell *matCellDef="let element">{{ element.description }}</td>
    </ng-container>

    <ng-container matColumnDef="netAmount">
      <th mat-header-cell *matHeaderCellDef>{{ 'labels.inputs.Base Price' | translate }}</th>
      <td mat-cell *matCellDef="let element">${{ element.netAmount | currency: currency }}</td>
    </ng-container>

    <ng-container matColumnDef="vat">
      <th mat-header-cell *matHeaderCellDef>{{ 'labels.inputs.Base Percentage' | translate }}</th>
      <td mat-cell *matCellDef="let element">{{ element.vat }} %</td>
    </ng-container>

    <ng-container matColumnDef="total">
      <th mat-header-cell *matHeaderCellDef>Total</th>
      <td mat-cell *matCellDef="let element">${{ element.total | currency: currency }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell class="center" *matHeaderCellDef>{{ 'labels.inputs.Actions' | translate }}</th>
      <td mat-cell class="center" *matCellDef="let element">
        <a
          *ngIf="
            !['IVA-AEF', 'ITE'].includes(element.commissionType?.name.trim().toUpperCase()) &&
            projectData?.status?.statusValue?.name === 'En Borrador'
          "
          class="document-action-button custom-button"
          mat-raised-button
          color="primary"
          (click)="editCommission(element)"
        >
          <i [matTooltip]="'labels.buttons.Edit' | translate" class="fa fa-edit"></i>
        </a>

        <a
          *ngIf="
            !['IVA-AEF', 'AEF'].includes(element.commissionType?.name.trim().toUpperCase()) &&
            projectData?.status?.statusValue?.name === 'En Borrador'
          "
          class="document-action-button custom-button"
          mat-raised-button
          color="primary"
          (click)="deleteCommission(element)"
        >
          <i class="fa fa-trash" [matTooltip]="'labels.buttons.Delete' | translate"></i>
        </a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <!-- Botones -->
  <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="16px" style="margin-top: 16px">
    <button
      mat-raised-button
      color="primary"
      (click)="submit()"
      [disabled]="projectData?.status?.statusValue?.name !== 'En Borrador'"
    >
      {{ 'labels.buttons.Save Changes' | translate }}
    </button>
  </div>
</div>
