/* Contenedor general del pill */
.status-pill {
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
  background-color: red;
  display: inline-block;
}

/* ======== ESTADOS ======== */

.status-pill--pending {
  background-color: rgb(221 221 19); /* Amarillo suave */
}

.status-pill--assigned {
  background-color: #5bc0de; /* Celeste */
}

.status-pill--applied {
  background-color: #5cb85c; /* Azul corporativo */
}

.status-pill--conciliated {
  background-color: #5cb85c; /* Verde éxito */
}

/* RECEIVED – Morado */
.status-pill--recieved {
  background-color: #cffe00; /* Morado dmatHeaderCellDeferenciador */
}

/* INVALID / ERROR – Rojo */
.status-pill--error {
  background-color: #d53c36; /* Rojo error */
}

.headerTransactionDetail {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}

.headerTransactionDetail p {
  font-size: 1.1rem;
}

.loadingBar {
  min-width: 100%;
  background-color: #f3f3f3;
  position: relative;
  overflow: hidden;
  border-radius: 0.5rem;
  height: 12px;
}

.loadingBar div {
  width: 0%;
  height: 100%;
  background-color: #1074b9;
  transition: width 0.5s ease-in-out;
}

.tableDetailContainer {
  margin-top: 3rem;
  max-height: 400px;
  overflow-y: auto;
}

.addAsignationButton {
  margin: 1rem 0;
  outline: none;
  border-radius: 4px;
  border: 1px solid #1074b9;
  color: #1074b9;
  background-color: white;
  font-weight: 600;
  font-size: 0.9rem;
  padding: 0.1rem 0.2rem;
  cursor: pointer;
}

.addAsignationButton .ng-fa-icon {
  margin-left: 0.1rem;
}

.InputValuePartition {
  margin: 0 0.5rem;
}

.ErrorText {
  color: red;
}

.important {
  font-weight: 600;
}

.InputValuePartition--error {
  color: red;
  font-weight: bold;
  cursor: help;
}

.InputValuePartition--error input {
  outline: red;
  border: 2px solid red;
}

.debtorAdvice {
  margin-top: 1rem;
  border: 2px solid #0006;
  border-radius: 6px;
  padding: 0.6rem;
  font-size: 0.9rem;
  display: flex;
  align-items: flex-start;
}

.debtorAdvice h3 {
  font-size: 1rem;
  font-weight: 500;
  margin-top: unset;
  margin-bottom: 0.4rem;
}

.debtorAdvice p {
  margin: 0;
}

.infoIcon {
  background-color: #1074b9;
  color: white;
  border-radius: 50%;
  font-size: 0.9rem;
  width: 1.1rem;
  height: 1.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 0.1rem;
  margin-right: 0.3rem;
  margin-top: 0.3rem;
}

.mixClientSelector {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 1.1rem;
  padding-bottom: 0.6rem;
  border-top: 1px solid #00000054;
  border-bottom: 1px solid #00000054;
  padding-left: 2rem;
  padding-right: 2rem;
  position: relative;
  width: 100%;
  left: -2rem;
}

.mixClientSelector .mat-radio-group {
  min-width: 100%;
  display: flex;
  justify-content: space-evenly;
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-outer-circle {
  border-color: #1976d2;
}

::ng-deep .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-inner-circle {
  background-color: #1976d2;
  transform: scale(0.6);
}

::ng-deep .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: transparent;
  width: 13px;
  height: 13px;
}
