@use '@angular/material' as mat;
@use 'material-palette' as *;
@use '../app/groups/groups-view/groups-view.component-theme.scss' as *;
@use '../app/centers/centers-view/centers-view.component-theme.scss' as *;
@use '../app/home/dashboard/dashboard.component-theme.scss' as *;
@use '../app/shares/shares-account-view/shares-account-view.component-theme.scss' as *;
@use 'content' as *;
@use 'pictonblue-yellowgreen' as *;

@include mat.core();

/* ================= APP THEME ================= */

$mifosx-app-primary: mat.define-palette($primary-palette);
$mifosx-app-accent: mat.define-palette($accent-palette);
$mifosx-app-warn: mat.define-palette(mat.$red-palette);

$mifosx-app-theme: mat.define-light-theme(
  (
    color: (
      primary: $mifosx-app-primary,
      accent: $mifosx-app-accent,
      warn: $mifosx-app-warn
    )
  )
);

@include mat.all-component-themes($mifosx-app-theme);
@include groups-view-component-theme($mifosx-app-theme);
@include centers-view-component-theme($mifosx-app-theme);
@include dashboard-component-theme($mifosx-app-theme);
@include shares-account-view-component-theme($mifosx-app-theme);
@include account-view-component-theme($mifosx-app-theme);
