.container {
  padding: 1rem 4rem;
  min-width: 100%;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
}

.container table {
  margin-top: 2rem;
  margin-bottom: 15rem;
}

th.mat-header-cell {
  text-align: center !important;
  justify-content: center !important; /* para flex */
}
