.container {
  padding: 1rem 4rem;
  min-width: 100%;
  align-items: center;
  box-sizing: border-box;
}

.container table {
  margin-top: 2rem;
  margin-bottom: 15rem;
}

.row:hover {
  filter: brightness(0.95);
}
