<section class="tab-container mat-typography">
  <div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="2%" fxLayout.lt-md="column" class="container m-b-20">
    <button mat-raised-button color="primary" [routerLink]="['../edit']" *mifosxHasPermission="'UPDATE_FUND'">
      <fa-icon icon="edit" class="m-r-10"></fa-icon>
      {{ 'labels.buttons.Edit' | translate }}
    </button>
  </div>

  <div class="container">
    <mat-card>
      <mat-card-content>
        <div fxLayout="row wrap" class="content">
          <div fxFlex="30%" class="mat-body-strong">RUT {{ 'labels.commons.Of client' | translate }}</div>
          <div fxFlex="70%">TODO</div>
          <div fxFlex="30%" class="mat-body-strong">
            {{ 'labels.inputs.Client Name' | translate }}
          </div>
          <div fxFlex="70%">
            {{ shorten(projectData.ownerName, 100) }}
          </div>
          <div fxFlex="30%" class="mat-body-strong">ID {{ 'labels.inputs.Proyect' | translate }}</div>
          <div fxFlex="70%">
            {{ projectData.id }}
          </div>
          <div fxFlex="30%" class="mat-body-strong">
            {{ 'labels.inputs.Project Name' | translate }}
          </div>
          <div fxFlex="70%">
            {{ projectData.name }}
          </div>
          <div fxFlex="30%" class="mat-body-strong">
            {{ 'labels.inputs.custom.Mnemonic' | translate }}
          </div>
          <div fxFlex="70%">
            {{ projectData.mnemonic }}
          </div>
          <div fxFlex="30%" class="mat-body-strong">
            {{ 'labels.inputs.Status' | translate }}
          </div>
          <div fxFlex="70%">
            {{ projectData.status?.statusValue?.name }}
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</section>
