<section class="tab-container mat-typography">
  <div class="container">
    <mat-card>
      <mat-card-content>
        <div fxLayout="row wrap" class="content">
          <div fxFlex="30%" class="mat-body-strong">
            {{ 'labels.inputs.Client Name' | translate }}
          </div>
          <div fxFlex="70%">
            <a [routerLink]="['../../../../clients/' + projectData.ownerId]" style="text-decoration: none">
              {{ shorten(projectData.ownerName, 100) }}
            </a>
          </div>
          <div fxFlex="30%" class="mat-body-strong">RUT</div>
          <div fxFlex="70%">
            {{ projectData.rut }}
          </div>
          <div fxFlex="30%" class="mat-body-strong">ID {{ 'labels.inputs.Proyect' | translate }}</div>
          <div fxFlex="70%">
            {{ projectData.id }}
          </div>
          <div fxFlex="30%" class="mat-body-strong">
            {{ 'labels.inputs.Project Name' | translate }}
          </div>
          <div fxFlex="70%">
            {{ projectData.name }}
          </div>
          <div fxFlex="30%" class="mat-body-strong">
            {{ 'labels.inputs.custom.Mnemonic' | translate }}
          </div>
          <div fxFlex="70%">
            {{ projectData.mnemonic }}
          </div>
          <div fxFlex="30%" class="mat-body-strong">
            {{ 'labels.inputs.Status' | translate }}
          </div>
          <div fxFlex="70%">
            {{ projectData.status?.statusValue?.name }}
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</section>
