<h1 mat-dialog-title>{{ data.context }} {{ 'labels.heading.Family Member' | translate }}</h1>

<form [formGroup]="familyMemberForm">
  <div fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutAlign="start center" fxLayoutGap="2%">
    <mat-form-field fxFlex="48%">
      <mat-label>{{ 'labels.inputs.First Name' | translate }}</mat-label>
      <input id="firstName" formControlName="firstName" required matInput />
      <mat-error *ngIf="familyMemberForm.controls.firstName.hasError('required')">
        {{ 'labels.inputs.First Name' | translate }} {{ 'labels.commons.is' | translate }}
        <strong>{{ 'labels.commons.required' | translate }}</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field fxFlex="48%">
      <mat-label>{{ 'labels.inputs.Middle Name' | translate }}</mat-label>
      <input id="middleName" formControlName="middleName" matInput />
    </mat-form-field>

    <mat-form-field fxFlex="48%">
      <mat-label>{{ 'labels.inputs.Last Name' | translate }}</mat-label>
      <input id="lastName" formControlName="lastName" required matInput />
      <mat-error *ngIf="familyMemberForm.controls.lastName.hasError('required')">
        {{ 'labels.inputs.Last Name' | translate }} {{ 'labels.commons.is' | translate }}
        <strong>{{ 'labels.commons.required' | translate }}</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field fxFlex="calc(50% - 25px)">
      <mat-label>{{ 'labels.inputs.Email' | translate }}</mat-label>
      <input id="email" formControlName="email" required matInput type="email" />
      <mat-error *ngIf="familyMemberForm.controls.email.hasError('required')">
        {{ 'labels.inputs.Email' | translate }} {{ 'labels.commons.is' | translate }}
        <strong>{{ 'labels.commons.required' | translate }}</strong>
      </mat-error>
      <mat-error *ngIf="familyMemberForm.controls.email.hasError('email')">
        {{ 'errors.Email not valid' | translate }}
      </mat-error>
    </mat-form-field>

    <mat-form-field fxFlex="calc(50% - 25px)">
      <mat-label>{{ 'labels.inputs.Mobile No' | translate }}</mat-label>
      <input id="mobileNumber" formControlName="mobileNumber" required matInput type="number" />
      <mat-error *ngIf="familyMemberForm.controls.mobileNumber.hasError('required')">
        {{ 'labels.inputs.Mobile No' | translate }} {{ 'labels.commons.is' | translate }}
        <strong>{{ 'labels.commons.required' | translate }}</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field fxFlex="calc(50% - 25px)">
      <mat-label>{{ 'labels.inputs.Document Type' | translate }}</mat-label>
      <mat-select id="documentTypeId" formControlName="documentTypeId">
        <mat-option *ngFor="let documentType of data.options.documentTypeIdOptions" [value]="documentType.id">
          {{ documentType.name }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="familyMemberForm.controls.documentTypeId.hasError('required')">
        {{ 'labels.inputs.Document Type' | translate }} {{ 'labels.commons.is' | translate }}
        <strong>{{ 'labels.commons.required' | translate }}</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field fxFlex="calc(50% - 25px)">
      <mat-label>{{ 'labels.inputs.Document Key' | translate }}</mat-label>
      <input id="documentNumber" formControlName="documentNumber" required matInput type="text" />
      <mat-error *ngIf="familyMemberForm.controls.documentNumber.hasError('required')">
        {{ 'labels.inputs.Document Key' | translate }} {{ 'labels.commons.is' | translate }}
        <strong>{{ 'labels.commons.required' | translate }}</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field fxFlex="48%">
      <mat-label>{{ 'labels.inputs.Relationship' | translate }}</mat-label>
      <mat-select id="relationshipId" formControlName="relationshipId" required (selectionChange)="getRelationValue()">
        <mat-option *ngFor="let relation of data.options.relationshipIdOptions" [value]="relation.id">
          {{ relation.name | translateKey: 'catalogs' }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="familyMemberForm.controls.relationshipId.hasError('required')">
        {{ 'labels.inputs.Relationship' | translate }} {{ 'labels.commons.is' | translate }}
        <strong>{{ 'labels.commons.required' | translate }}</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field fxFlex="48%">
      <mat-label>{{ 'labels.inputs.Gender' | translate }}</mat-label>
      <mat-select id="genderId" formControlName="genderId" required>
        <mat-option *ngFor="let gender of data.options.genderIdOptions" [value]="gender.id">
          {{ gender.name | translateKey: 'catalogs' }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="familyMemberForm.controls.genderId.hasError('required')">
        {{ 'labels.inputs.Gender' | translate }} {{ 'labels.commons.is' | translate }}
        <strong>{{ 'labels.commons.required' | translate }}</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field fxFlex="48%">
      <mat-label>{{ 'labels.inputs.Marital Status' | translate }}</mat-label>
      <mat-select id="maritalStatusId" formControlName="maritalStatusId">
        <mat-option *ngFor="let maritalStatus of data.options.maritalStatusIdOptions" [value]="maritalStatus.id">
          {{ maritalStatus.name | translateKey: 'catalogs' }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field fxFlex="calc(50% - 25px)">
      <mat-label>{{ 'labels.inputs.Address' | translate }}</mat-label>
      <input id="address" formControlName="address" required matInput />
      <mat-error *ngIf="familyMemberForm.controls.address.hasError('required')">
        {{ 'labels.inputs.Address' | translate }} {{ 'labels.commons.is' | translate }}
        <strong>{{ 'labels.commons.required' | translate }}</strong>
      </mat-error>
    </mat-form-field>

    <mat-checkbox
      *ngIf="relationValue === 'Aval' || relationValue === 'Representante legal'"
      formControlName="isMaritalPartnership"
      labelPosition="before"
      fxFlex="calc(50% - 25px)"
      id="isMaritalPartnership"
      >{{ 'labels.inputs.Is Marital Partnership' | translate }}?
    </mat-checkbox>

    <mat-form-field
      *ngIf="relationValue === 'Aval' || relationValue === 'Representante legal'"
      fxFlex
      (click)="dueDatePicker.open()"
    >
      <mat-label>{{ 'labels.inputs.Expiry Date' | translate }}</mat-label>
      <input id="expirationDate" formControlName="expirationDate" matInput [matDatepicker]="dueDatePicker" />
      <mat-datepicker-toggle matSuffix [for]="dueDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #dueDatePicker></mat-datepicker>
    </mat-form-field>
  </div>

  <mat-dialog-actions align="center">
    <button id="cancelButton" mat-raised-button mat-dialog-close>{{ 'labels.buttons.Cancel' | translate }}</button>
    <button
      id="confirmButton"
      mat-raised-button
      color="primary"
      [disabled]="!familyMemberForm.valid"
      [mat-dialog-close]="{ member: familyMember }"
    >
      {{ 'labels.buttons.Confirm' | translate }}
    </button>
  </mat-dialog-actions>
</form>
