.adressContainer {
  display: block;
  width: 100%;
  height: 38px;
  overflow: hidden;
  box-sizing: border-box;
  //  border-bottom: 2px solid black;
  transform: translateY(1.3rem);
}

#google-maps-place-picker {
  display: block;
  height: 41px;
  transform: scale(1.02) translateY(-2px);
}

.hiddenAddressInput {
  visibility: hidden;
}
