.linkStyle {
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}

.alert {
  margin: unset;
}

.message {
  text-align: center;
}

.mat-row .mat-cell.mat-cell_empty {
  padding-left: 0;
  padding-right: 0;
}
