<!-- <div class="container">
  <form [formGroup]="investmentProjectForm" (ngSubmit)="submit()">
    <mat-card>
      <mat-card-content>
        <div fxLayout="column">
          <mat-form-field fxFlex="98%">
            <mat-label>{{ 'labels.inputs.Country' | translate }}</mat-label>
            <mat-select required formControlName="countryId" id="countryId">
              <mat-option *ngFor="let country of countryData" [value]="country.id">
                {{ country.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field fxFlex="98%">
            <mat-label>{{ 'labels.inputs.Client' | translate }}</mat-label>
            <input matInput formControlName="ownerId" [matAutocomplete]="clientsAutocomplete" id="ownerId" />
            <mat-error *ngIf="investmentProjectForm.controls.ownerId.hasError('required')">
              {{ 'labels.inputs.Client' | translate }} {{ 'labels.commons.is' | translate }}
              <strong>{{ 'labels.commons.required' | translate }}</strong>
            </mat-error>
          </mat-form-field>

          <mat-autocomplete autoActiveFirstOption #clientsAutocomplete="matAutocomplete" [displayWith]="displayClient">
            <mat-option *ngFor="let client of clientsData" [value]="client">
              {{ client.id }} - {{ client.displayName }}
            </mat-option>
          </mat-autocomplete>

          <mat-form-field fxFlex="98%">
            <mat-label>{{ 'labels.inputs.Name' | translate }}</mat-label>
            <input matInput autofocus formControlName="name" id="name" />
            <mat-error *ngIf="investmentProjectForm.controls.name.hasError('required')">
              {{ 'labels.inputs.Name' | translate }} {{ 'labels.commons.is' | translate }}
              <strong>{{ 'labels.commons.required' | translate }}</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field fxFlex="98%">
            <mat-label>{{ 'labels.inputs.custom.Subtitle' | translate }}</mat-label>
            <input matInput autofocus formControlName="subtitle" id="subtitle" />
            <mat-error *ngIf="investmentProjectForm.controls.subtitle.hasError('required')">
              {{ 'labels.inputs.custom.Subtitle' | translate }} {{ 'labels.commons.is' | translate }}
              <strong>{{ 'labels.commons.required' | translate }}</strong>
            </mat-error>
          </mat-form-field>

          <div fxLayout="row" fxLayoutGap="1%">
            <mat-form-field fxFlex="30%">
              <input matInput [value]="investmentProjectForm.controls.ownerId.value?.mnemonic || ''" disabled id="ownerMnemonic" />
            </mat-form-field>

            <mat-form-field fxFlex="68%">
              <mat-label>{{ 'labels.inputs.custom.Mnemonic' | translate }}</mat-label>
              <input matInput formControlName="mnemonic" id="mnemonic" />
              <mat-error *ngIf="investmentProjectForm.controls.mnemonic.hasError('required')">
                {{ 'labels.inputs.custom.Mnemonic' | translate }} {{ 'labels.commons.is' | translate }}
                <strong>{{ 'labels.commons.required' | translate }}</strong>
              </mat-error>
            </mat-form-field>
          </div>

          <mat-form-field fxFlex="98%">
            <mat-label>{{ 'labels.inputs.custom.Impact Description' | translate }}</mat-label>
            <input
              matInput
              [value]="shorten(investmentProjectForm.controls['impactDescription'].value)"
              readonly
              (click)="openRichTextEditor('impactDescription')"
              id="impactDescription"
            />
          </mat-form-field>

          <mat-form-field fxFlex="98%">
            <mat-label>{{ 'labels.inputs.custom.Institution Description' | translate }}</mat-label>
            <input
              matInput
              [value]="shorten(investmentProjectForm.controls['institutionDescription'].value)"
              readonly
              (click)="openRichTextEditor('institutionDescription')"
              id="institutionDescription"
            />
          </mat-form-field>

          <mat-form-field fxFlex="98%">
            <mat-label>{{ 'labels.inputs.custom.Team Description' | translate }}</mat-label>
            <input
              matInput
              [value]="shorten(investmentProjectForm.controls['teamDescription'].value)"
              readonly
              (click)="openRichTextEditor('teamDescription')"
              id="teamDescription"
            />
          </mat-form-field>

          <mat-form-field fxFlex="98%">
            <mat-label>{{ 'labels.inputs.custom.Financial Description' | translate }}</mat-label>
            <input
              matInput
              [value]="shorten(investmentProjectForm.controls['financingDescription'].value)"
              readonly
              (click)="openRichTextEditor('financingDescription')"
              id="financingDescription"
            />
          </mat-form-field>

          <mat-form-field fxFlex="98%">
            <mat-label>{{ 'labels.inputs.custom.Socio Environmental Description' | translate }}</mat-label>
            <input
              matInput
              [value]="shorten(investmentProjectForm.controls['littleSocioEnvironmentalDescription'].value)"
              readonly
              (click)="openRichTextEditor('littleSocioEnvironmentalDescription')"
              id="littleSocioEnvironmentalDescription"
            />
          </mat-form-field>

          <mat-form-field fxFlex="98%">
            <mat-label>{{ 'labels.inputs.custom.Detailed Socio Environmental Description' | translate }}</mat-label>
            <input
              matInput
              [value]="shorten(investmentProjectForm.controls['detailedSocioEnvironmentalDescription'].value)"
              readonly
              (click)="openRichTextEditor('detailedSocioEnvironmentalDescription')"
              id="detailedSocioEnvironmentalDescription"
            />
          </mat-form-field>

          <mifosx-input-amount
            [currency]="currency || ''"
            [isRequired]="true"
            [inputFormControl]="investmentProjectForm.controls.amount"
            [inputLabel]="'Amount'"
            id="amount"
          >
          </mifosx-input-amount>

          <mat-form-field fxFlex="98%">
            <mat-label>{{ 'labels.inputs.custom.Max Amount' | translate }}</mat-label>
            <input type="number" matInput formControlName="maxAmount" id="maxAmount" />
            <mat-error *ngIf="investmentProjectForm.controls.maxAmount.hasError('required')">
              {{ 'labels.inputs.Max Amount' | translate }} {{ 'labels.commons.is' | translate }}
              <strong>{{ 'labels.commons.required' | translate }}</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field fxFlex="98%">
            <mat-label>{{ 'labels.inputs.custom.Min Amount' | translate }}</mat-label>
            <input type="number" matInput formControlName="minAmount" id="minAmount" />
            <mat-error *ngIf="investmentProjectForm.controls.minAmount.hasError('required')">
              {{ 'labels.inputs.Min Amount' | translate }} {{ 'labels.commons.is' | translate }}
              <strong>{{ 'labels.commons.required' | translate }}</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field fxFlex="98%">
            <mat-label>{{ 'labels.inputs.Interest Rate' | translate }}</mat-label>
            <input type="number" matInput formControlName="projectRate" />
            <mat-error *ngIf="investmentProjectForm.controls.projectRate.hasError('required')">
              {{ 'labels.inputs.Interest Rate' | translate }} {{ 'labels.commons.is' | translate }}
              <strong>{{ 'labels.commons.required' | translate }}</strong>
            </mat-error>
          </mat-form-field>



          <mat-form-field fxFlex="98%">
            <mat-label>{{ 'labels.inputs.Credit Type' | translate }}</mat-label>
            <mat-select formControlName="creditTypeId" id="creditTypeId">
              <mat-option *ngFor="let creditType of creditTypesData" [value]="creditType.id">
                {{ creditType.name + ' - ' + creditType.description }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field fxFlex="98%">
            <mat-label>{{ 'labels.inputs.Loan Purpose' | translate }}</mat-label>
            <mat-select formControlName="loanPurposeId" id="loanPurposeId">
              <mat-option *ngFor="let loanPurpose of loanPurposeData" [value]="loanPurpose.id">
                {{ loanPurpose.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>

           <mat-form-field fxFlex="23%">
            <mat-label>{{ 'labels.inputs.Frequency' | translate }}</mat-label>
            <mat-select required formControlName="loanTermFrequencyType">
              <mat-option *ngFor="let type of termFrequencyTypeData" [value]="type.id">
                {{ type.value | translateKey: 'catalogs' }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="investmentProjectForm.controls.loanTermFrequencyType.hasError('required')">
              {{ 'labels.inputs.Frequency' | translate }} {{ 'labels.commons.is' | translate }}
              <strong>{{ 'labels.commons.required' | translate }}</strong>
            </mat-error>
          </mat-form-field> -->

<!-- <mat-form-field fxFlex="98%">
            <mat-label>{{ 'labels.inputs.Number of Installments' | translate }}</mat-label>
            <input type="number" matInput formControlName="period" />
            <mat-error *ngIf="investmentProjectForm.controls.period.hasError('required')">
              {{ 'labels.inputs.Number of Installments' | translate }} {{ 'labels.commons.is' | translate }}
              <strong>{{ 'labels.commons.required' | translate }}</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field fxFlex="98%">
            <mat-label>{{ 'labels.inputs.Portal Position' | translate }}</mat-label>
            <input type="number" matInput formControlName="position" id="position" />
            <mat-error *ngIf="investmentProjectForm.controls.position.hasError('required')">
              {{ 'labels.inputs.Portal Position' | translate }} {{ 'labels.commons.is' | translate }}
              <strong>{{ 'labels.commons.required' | translate }}</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field fxFlex="98%">
            <mat-label>{{ 'labels.inputs.Status' | translate }}</mat-label>
            <mat-select formControlName="statusId" id="statusId">
              <mat-option *ngFor="let status of statusData" [value]="status.id">
                {{ status.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field fxFlex="98%">
            <mat-label>{{ 'labels.inputs.custom.Area' | translate }}</mat-label>
            <mat-select formControlName="areaId" (ngModelChange)="setArea($event)" id="areaId">
              <mat-option *ngFor="let area of areaData" [value]="area.id">
                {{ area.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field fxFlex="98%">
            <mat-label>{{ 'labels.inputs.custom.Category' | translate }}</mat-label>
            <mat-select formControlName="categoryId" (ngModelChange)="setCategory($event)" id="categoryId">
              <mat-option *ngFor="let category of filtereCategoryData" [value]="category.id">
                {{ category.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field fxFlex="98%">
            <mat-label>{{ 'labels.inputs.custom.Subcategory' | translate }}</mat-label>
            <mat-select formControlName="subCategories" multiple id="subCategories">
              <mat-option *ngFor="let subcategory of filteredSubcategoryData" [value]="subcategory.id">
                {{ subcategory.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field fxFlex="98%">
            <mat-label>{{ 'labels.inputs.custom.Objectives' | translate }}</mat-label>
            <mat-select formControlName="objectives" multiple id="objectives">
              <mat-option *ngFor="let objectives of objectivesData" [value]="objectives.id">
                {{ objectives.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <div class="filter-box">
            <mat-checkbox labelPosition="after" class="m-r-10" formControlName="isRenewable" id="isActive">
              {{ 'labels.inputs.Visible On Portal' | translate }}
            </mat-checkbox>
          </div>
        </div>
      </mat-card-content>

      <mat-card-actions fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="5px">
        <button type="button" mat-raised-button [routerLink]="['../']">
          {{ 'labels.buttons.Cancel' | translate }}
        </button>
        <button mat-raised-button color="primary" [disabled]="!investmentProjectForm.valid">
          {{ 'labels.buttons.Submit' | translate }}
        </button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>  -->
<section class="container">
  <mat-horizontal-stepper class="mat-elevation-z8" labelPosition="bottom" #clientStepper [linear]="true">
    <ng-template matStepperIcon="number">
      <fa-icon icon="pencil-alt" size="sm"></fa-icon>
    </ng-template>

    <ng-template matStepperIcon="edit">
      <fa-icon icon="pencil-alt" size="sm"></fa-icon>
    </ng-template>

    <ng-template matStepperIcon="done">
      <fa-icon icon="check" size="sm"></fa-icon>
    </ng-template>

    <ng-template matStepperIcon="error">
      <fa-icon icon="exclamation-triangle" size="lg"></fa-icon>
    </ng-template>

    <ng-template matStepperIcon="preview">
      <fa-icon icon="eye" size="sm"></fa-icon>
    </ng-template>

    <mat-step [stepControl]="" completed="false">
      <ng-template matStepLabel>{{ 'labels.inputs.GENERAL' | translate }}</ng-template>

      <form
        [formGroup]="investmentProjectForm"
        class="generalForm"
        fxLayout="row wrap"
        fxLayoutGap="16px"
        (ngSubmit)="submit()"
      >
        <mat-form-field fxFlex="47%">
          <mat-label>{{ 'labels.inputs.Country' | translate }}</mat-label>
          <mat-select required formControlName="countryId" id="countryId">
            <mat-option *ngFor="let country of countryData" [value]="country.id">
              {{ country.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field fxFlex="47%">
          <mat-label>{{ 'labels.inputs.Client name' | translate }}</mat-label>
          <input matInput formControlName="ownerId" [matAutocomplete]="clientsAutocomplete" id="ownerId" />
          <mat-error *ngIf="investmentProjectForm.controls.ownerId.hasError('required')">
            {{ 'labels.inputs.Client' | translate }} {{ 'labels.commons.is' | translate }}
            <strong>{{ 'labels.commons.required' | translate }}</strong>
          </mat-error>
        </mat-form-field>
        <mat-autocomplete autoActiveFirstOption #clientsAutocomplete="matAutocomplete" [displayWith]="displayClient">
          <mat-option *ngFor="let client of clientsData" [value]="client">
            {{ client.id }} - {{ client.displayName }}
          </mat-option>
        </mat-autocomplete>

        <mat-form-field fxFlex="47%">
          <input
            matInput
            [value]="investmentProjectForm.controls.ownerId.value?.mnemonic || ''"
            disabled
            id="ownerMnemonic"
          />
        </mat-form-field>
        <mat-form-field fxFlex="47%">
          <mat-label>{{ 'labels.inputs.custom.Mnemonic' | translate }}</mat-label>
          <input matInput autofocus formControlName="mnemonic" id="mnemonic" />
          <mat-error *ngIf="investmentProjectForm?.get('mnemonic')?.hasError('required')">
            {{ 'labels.inputs.custom.Mnemonic' | translate }} {{ 'labels.commons.is' | translate }}
            <strong>{{ 'labels.commons.required' | translate }}</strong>
          </mat-error>
          <mat-error *ngIf="investmentProjectForm?.get('mnemonic')?.hasError('maxlength')">
            {{ 'labels.inputs.custom.Mnemonic' | translate }} {{ 'labels.commons.is' | translate }}
            <strong>{{
              'errors.validation.msg.savingsproduct.name.exceeds.max.length' | translate: { length: 3 }
            }}</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field fxFlex="47%">
          <mat-label>{{ 'labels.inputs.Address' | translate }}</mat-label>
          <input matInput autofocus formControlName="address" id="address" />
          <mat-error *ngIf="investmentProjectForm?.get('address')?.hasError('required')">
            {{ 'labels.inputs.address' | translate }} {{ 'labels.commons.is' | translate }}
            <strong>{{ 'labels.commons.required' | translate }}</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field fxFlex="47%">
          <mat-label>{{ 'labels.inputs.Loan Purpose' | translate }}</mat-label>
          <mat-select formControlName="loanPurposeId" id="loanPurposeId">
            <mat-option *ngFor="let loanPurpose of loanPurposeData" [value]="loanPurpose.id">
              {{ loanPurpose.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field fxFlex="47%">
          <mat-label>{{ 'labels.inputs.Proyect name' | translate }}</mat-label>
          <input matInput autofocus formControlName="name" id="projectName" />
          <mat-error *ngIf="investmentProjectForm?.get('name')?.hasError('required')">
            {{ 'labels.inputs.Client name' | translate }} {{ 'labels.commons.is' | translate }}
            <strong>{{ 'labels.commons.required' | translate }}</strong>
          </mat-error>
          <mat-error *ngIf="investmentProjectForm?.get('name')?.hasError('maxlength')">
            {{ 'labels.inputs.Client name' | translate }} {{ 'labels.commons.is' | translate }}
            <strong>{{
              'errors.validation.msg.savingsproduct.name.exceeds.max.length' | translate: { length: 30 }
            }}</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field fxFlex="47%">
          <mat-label>{{ 'Proyecto relacionado' }}</mat-label>
          <input matInput formControlName="relatedProjectId" [matAutocomplete]="projectsAutocomplete" />
          <mat-error *ngIf="investmentProjectForm.controls.relatedProjectId.hasError('required')">
            {{ 'labels.inputs.aArticipant' | translate }} {{ 'labels.commons.is' | translate }}
            <strong>{{ 'labels.commons.required' | translate }}</strong>
          </mat-error>

          <mat-autocomplete
            autoActiveFirstOption
            #projectsAutocomplete="matAutocomplete"
            [displayWith]="displayProject"
          >
            <mat-option *ngFor="let project of projectsData" [value]="project">
              {{ project.id }} - {{ project.name }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <mat-form-field fxFlex="47%">
          <mat-label>{{ 'labels.inputs.Status' | translate }}</mat-label>
          <mat-select required formControlName="statusId" disabled id="statusId">
            <mat-option *ngFor="let status of statusData" [value]="status.id">
              {{ status.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div>
          <mat-checkbox labelPosition="after" class="m-r-10" formControlName="isRenewable" id="isActive">
            {{ 'Es renovable' }}
          </mat-checkbox>
        </div>
        <div class="fullW">
          <button type="button" mat-raised-button [routerLink]="['../']" id="cancelButton">
            {{ 'labels.buttons.Cancel' | translate }}
          </button>
          <button
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="!investmentProjectForm.valid"
            id="submitButton"
          >
            {{ 'labels.buttons.Submit' | translate }}
          </button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="" [editable]="false">
      <ng-template matStepLabel>{{ 'labels.heading.Publication' | translate }}</ng-template>
    </mat-step>
    <mat-step [stepControl]="" [editable]="false">
      <ng-template matStepLabel>{{ 'labels.heading.Impact' | translate }}</ng-template>
    </mat-step>
  </mat-horizontal-stepper>
</section>
