<section class="tab-container mat-typography mt-10 createGroup">
  <mat-horizontal-stepper class="mat-elevation-z8" labelPosition="bottom" #clientStepper [linear]="true">
    <ng-template matStepperIcon="number">
      <fa-icon icon="pencil-alt" size="sm"></fa-icon>
    </ng-template>

    <ng-template matStepperIcon="edit">
      <fa-icon icon="pencil-alt" size="sm"></fa-icon>
    </ng-template>

    <ng-template matStepperIcon="done">
      <fa-icon icon="check" size="sm"></fa-icon>
    </ng-template>

    <ng-template matStepperIcon="error">
      <fa-icon icon="exclamation-triangle" size="lg"></fa-icon>
    </ng-template>

    <ng-template matStepperIcon="preview">
      <fa-icon icon="eye" size="sm"></fa-icon>
    </ng-template>

    <mat-step [stepControl]="">
      <ng-template matStepLabel>CONSOLIDACIÓN DE GRUPO</ng-template>
      <main *ngIf="!loading">
        <form [formGroup]="clientForm" class="generalForm" fxLayout="row wrap" fxLayoutGap="16px">
          <form [formGroup]="filters" class="filtersRow">
            <mat-form-field fxFlex="25%" class="inputSearch">
              <mat-label>{{ 'labels.text.Search by Text' | translate }}</mat-label>
              <input matInput formControlName="name" />
            </mat-form-field>
            <mat-form-field fxFlex="15%" class="inputSearch m-l-25 m-b-10">
              <mat-label>{{ 'labels.inputs.Client Classification' | translate }}</mat-label>
              <mat-select formControlName="clientClassificationId">
                <mat-option
                  *ngFor="let clientClassification of clientClassificationTypeOptions"
                  [value]="clientClassification.id"
                >
                  {{ clientClassification.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <button mat-button class="clearFilters" (click)="resetFilters()">Limpiar filtros</button>
          </form>
          <div class="moveInvestmentsContainer" *ngIf="selectedInvestments.length > 0">
            <p>
              <fa-icon icon="circle-check" class="icon" size="lg"></fa-icon>
              <span>
                {{ selectedInvestments.length }}
              </span>
              inversiones seleccionadas de un total de
              <span>
                {{ amountOfInvestorsSelected | currency: currency }}
              </span>
            </p>
            <button mat-raised-button color="primary" (click)="addGroupd()">Asignar a grupo</button>
          </div>
          <table mat-table #documentsTable [dataSource]="dataSource" matSort class="m-t-25">
            <ng-container matColumnDef="Investor">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'labels.heading.Investor' | translate }}</th>
              <td mat-cell *matCellDef="let investment">{{ investment.participantName }}</td>
            </ng-container>

            <ng-container matColumnDef="Date">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'labels.inputs.Date' | translate }}</th>
              <td mat-cell *matCellDef="let investment">{{ investment.createdOnDate | dateFormat }}</td>
            </ng-container>

            <ng-container matColumnDef="Value invested">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                {{ 'labels.heading.Value invested' | translate }}
              </th>
              <td mat-cell *matCellDef="let investment">$ {{ investment.amount | currency: currency }}</td>
            </ng-container>

            <ng-container matColumnDef="Group">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Cambiar de grupo</th>
              <td mat-cell *matCellDef="let document; let index">
                <mat-checkbox
                  labelPosition="after"
                  class="m-r-10"
                  (change)="onInvestorSelected($event, document)"
                  [disabled]="!allowToEdit"
                >
                </mat-checkbox>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            <tr class="mat-row noContentTable" *matNoDataRow>
              <td class="mat-cell" [attr.colspan]="displayedColumns.length">
                <div class="empty-state">
                  <fa-icon [icon]="filesvg" size="3x"></fa-icon>
                  <p>No hay inversiones sin grupo asignado relacionadas a este proyecto</p>
                  <a [routerLink]="'../../../../../project-participation/' + projectData.id">
                    <button mat-raised-button color="primary">Ir a participaciones</button>
                  </a>
                </div>
              </td>
            </tr>
          </table>
          <div
            fxLayout="row"
            fxLayoutAlign="center center"
            fxLayoutGap="2rem"
            class="m-t-30 fullWidth"
            color="secondary"
          >
            <button mat-raised-button (click)="backToGroups()">Cancelar</button>
            <button mat-raised-button class="outlinedButton" matStepperNext>Aceptar</button>
          </div>
        </form>
      </main>
      <div class="flex justify-center items-center py-8 loader" *ngIf="loading">
        <mat-spinner diameter="40"></mat-spinner>
      </div>
    </mat-step>
    <mat-step [stepControl]="clientForm">
      <ng-template matStepLabel>DOCUMENTO</ng-template>
      <main *ngIf="!loading">
        <div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="2rem" class="m-t-10 fullWidth">
          <button mat-raised-button class="outlinedButton" (click)="generateFundPromissoryPdf()">Generar pagaré</button>
        </div>
        <form [formGroup]="clientForm" fxLayout="row wrap" fxLayoutGap="2%">
          <mat-form-field fxFlex="47%" class="inputSearch m-r-10">
            <mat-label>N°</mat-label>
            <input matInput formControlName="documentNumber" [readonly]="!allowToEdit" />
          </mat-form-field>
          <mat-form-field fxFlex="47%" (click)="creationDatePicker.open()">
            <mat-label>Fecha de emisión</mat-label>
            <input
              formControlName="date"
              matInput
              [min]="minDate"
              [max]="maxDate"
              [matDatepicker]="allowToEdit ? creationDatePicker : null"
              required
              [readonly]="!allowToEdit"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="creationDatePicker"
              [disabled]="!allowToEdit"
              *ngIf="!allowToEdit"
            ></mat-datepicker-toggle>
            <mat-datepicker #creationDatePicker></mat-datepicker>
          </mat-form-field>
          <mat-form-field fxFlex="47%" class="inputSearch">
            <mat-label>Mnemotécnico</mat-label>
            <input matInput formControlName="mnemonic" />
          </mat-form-field>
        </form>
        <h2 class="subtitle">Representante Legal(es)</h2>
        <table mat-table #documentsTable [dataSource]="dataSourceLegal" matSort class="m-t-25">
          <ng-container matColumnDef="add">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Seleccione</th>
            <td mat-cell *matCellDef="let signator">
              <mat-checkbox
                labelPosition="after"
                class="m-r-10"
                (change)="onSignatorSelected($event, signator.id)"
                [checked]="selectedSignators.includes(signator.id)"
                [disabled]="!allowToEdit"
              >
              </mat-checkbox>
            </td>
          </ng-container>

          <ng-container matColumnDef="RUT">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>RUT</th>
            <td mat-cell *matCellDef="let signator">
              {{ signator.documentType === 'RUT' ? signator.documentNumber : '-' }}
            </td>
          </ng-container>
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'labels.inputs.name' | translate }}</th>
            <td mat-cell *matCellDef="let signator">{{ signator.lastName }}</td>
          </ng-container>

          <ng-container matColumnDef="lastName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'labels.inputs.Last Name' | translate }}</th>
            <td mat-cell *matCellDef="let signator">{{ signator.firstName }}</td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumnsLegal"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsLegal"></tr>
          <tr class="mat-row noContentTable" *matNoDataRow></tr>
        </table>
        <h2 class="subtitle">Aval(es)</h2>
        <table mat-table #documentsTable [dataSource]="dataSourceAval" matSort class="m-t-25">
          <ng-container matColumnDef="add">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Seleccione</th>
            <td mat-cell *matCellDef="let signator">
              <mat-checkbox
                labelPosition="after"
                class="m-r-10"
                (change)="onSignatorSelected($event, signator.id)"
                [checked]="selectedSignators.includes(signator.id)"
                [disabled]="!allowToEdit"
              >
              </mat-checkbox>
            </td>
          </ng-container>

          <ng-container matColumnDef="RUT">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>RUT</th>
            <td mat-cell *matCellDef="let signator">
              {{ signator.documentType === 'RUT' ? signator.documentNumber : '-' }}
            </td>
          </ng-container>
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'labels.inputs.name' | translate }}</th>
            <td mat-cell *matCellDef="let signator">{{ signator.lastName }}</td>
          </ng-container>

          <ng-container matColumnDef="lastName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'labels.inputs.Last Name' | translate }}</th>
            <td mat-cell *matCellDef="let signator">{{ signator.firstName }}</td>
          </ng-container>
          <ng-container matColumnDef="adress">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'labels.inputs.Address Line' | translate }}</th>
            <td mat-cell *matCellDef="let signator">{{ signator.address || '-' }}</td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumnsAval"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsAval"></tr>
          <tr class="mat-row noContentTable" *matNoDataRow></tr>
        </table>
        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="2rem" class="m-t-30 fullWidth" color="secondary">
          <button mat-raised-button matStepperPrevious>Volver</button>
          <button
            mat-raised-button
            class="outlinedButton"
            [disabled]="!clientForm.valid || !haveLegalSelected"
            matStepperNext
          >
            Aceptar
          </button>
        </div>
      </main>
      <div class="flex justify-center items-center py-8 loader" *ngIf="loading">
        <mat-spinner diameter="40"></mat-spinner>
      </div>
    </mat-step>

    <mat-step [stepControl]="">
      <ng-template matStepLabel>RESUMEN</ng-template>
      <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="2rem" class="m-t-10 fullWidth">
        <span> N° de pagaré </span>
        <b> {{ clientForm.get('documentNumber').value }} </b>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="2rem" class="m-t-10 fullWidth">
        <span> Cantidad de inversiones </span>
        <b> {{ PromissoryNoteGroup.investmentList.length }}</b>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="2rem" class="m-t-10 fullWidth">
        <span> Monto total</span>
        <b> {{ promissoryNoteQuantity | currency: currency }}</b>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="2rem" class="m-t-10 fullWidth">
        <span> Mnemotécnico de pagaré</span>
        <b> {{ clientForm.get('mnemonic').value }}</b>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="2rem" class="m-t-10 fullWidth">
        <span> Fecha de emisión </span>
        <b> {{ clientForm.get('date')?.value | dateFormat }}</b>
      </div>
      <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="2rem" class="m-t-30 fullWidth" color="secondary">
        <button mat-raised-button matStepperPrevious>Volver</button>
        <button
          *ngIf="allowToEdit"
          mat-raised-button
          color="primary"
          matStepperNext
          (click)="saveGroup()"
          [disabled]="!haveLegalSelected"
        >
          Aceptar
        </button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</section>
